# Target 값 추출

Target 값
 - Period : n일 후 목표 변동률에 도달한다. 
 - pred10EMA : 10분후의 EMA 값을 목표로 한다.

In [2]:
import numpy as np
import pandas as pd
import ctypes

from modules.local_values import datas
import modules.indicators as idc 
pd.set_option('float_format', '{:.2f}'.format)

In [24]:
### Period
from modules.c_dll import pred_close

df = pd.read_csv('./raw_data/KRW-BTC.csv', parse_dates=[0], index_col=[0])
c_y = pred_close(0.005, df['close'])
y = pd.DataFrame(list(c_y),columns=['period'])
y.index = df.index
df['period'] = y

In [25]:
df['pred20EMA']=idc.EMA(df,10).shift(-20)-df.close
df['pred20EMA'] = df['pred20EMA'] / df['pred20EMA'].abs().max()

In [27]:
df

,open,high,low,close,volume,value,period,pred20EMA
2017-09-25 22:47:00,4203000.00,4203000.00,4203000.00,4203000.00,0.00,12978.86,33,-2916.27
2017-09-25 22:48:00,4203000.00,4203000.00,4203000.00,4203000.00,0.01,36498.85,32,-1059.41
2017-09-25 22:49:00,4201000.00,4201000.00,4201000.00,4201000.00,0.00,3419.61,30,2072.38
2017-09-25 22:50:00,4200000.00,4200000.00,4194000.00,4194000.00,0.00,19915.60,18,10076.88
2017-09-25 22:51:00,4200000.00,4200000.00,4195000.00,4195000.00,0.00,6691.75,17,9870.40
...,...,...,...,...,...,...,...,...
2024-03-19 18:05:00,94740000.00,94767000.00,94503000.00,94503000.00,16.30,1541074707.66,0,NaN
2024-03-19 18:06:00,94503000.00,94550000.00,94444000.00,94444000.00,52.46,4956586092.78,0,NaN
2024-03-19 18:07:00,94444000.00,94449000.00,94276000.00,94276000.00,41.67,3931231749.46,0,NaN
2024-03-19 18:08:00,94276000.00,94358000.00,94210000.00,94277000.00,36.71,3459608604.22,0,NaN
2024-03-19 18:09:00,94332000.00,94379000.00,94227000.00,94281000.00,17.40,1641034474.55,0,NaN

In [20]:
from modules.local_values import raw_datas
df = pd.read_csv(raw_datas[0], parse_dates=[0], index_col=[0])
df=df.resample(rule='T').first()
df[['volume','value']]=df[['volume','value']].fillna(0)
df=df.interpolate()
df.head(3)

,open,high,low,close,volume,value
2017-09-25 20:43:00,4192000.0,4196000.0,4186000.0,4196000.0,0.010202,42760.304
2017-09-25 20:44:00,4190000.0,4196000.0,4190000.0,4196000.0,0.006309,26446.224
2017-09-25 20:45:00,4192000.0,4195000.0,4192000.0,4195000.0,0.000000,0.000